.search-form {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/img/search-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

  &__content {
    display: flex;
    justify-content: center;
    padding: 90px 0;
  }

  &__field {
    max-width: 850px;
    width: 100%;
    input {
      width: 100%;
      background-color: #fff;
      padding: 20px 40px;
      font-size: 24px;
    }
  }
}
